* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  margin: 70px auto;
  max-width: 1279px;
}

.reg-btn {
  background: #1d4ed8;
  color: white;
  padding: 20px 50px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}
.text-primary {
  color: #575757;
}
/*navbar start*/
.navbar {
  margin-top: 30px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-items li {
  list-style: none;
}
.nav-items li a {
  text-decoration: none;
  font-size: 20px;
}
/* Hero section */
.hero {
  width: 100%;
  height: 786px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hero-contnent-top {
  text-align: center;
  position: relative;
  top: 105px;
}
.hero-title {
  color: #ffffff;
  font-size: 80px;
  font-weight: bold;
}
.hero-p {
  color: #ffffffe6;
  font-size: 22px;
  padding: 1rem 12rem;
}
.hero-contnent-bottom {
  position: relative;
  bottom: 75px;
}
/* Meet Speakers start */
.speakers {
  margin-top: 70px;
}
.speakers-section-title {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.speakers-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.speaker-card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}
.speaker-card img {
  border-radius: 12px 12px 0 0;
}
.speaker-card-content {
  display: grid;
  gap: 8px;
  padding: 35px;
}
.speaker-category {
  font-size: 12px;
  font-weight: 600;
  color: #2563eb;
}
.speaker-name {
  font-size: 20px;
  font-weight: bold;
}
.speaker-title {
  color: #575757;
  font-size: 14px;
}
/* pricing section start */

.pricing-header {
  text-align: center;
}
.pricing-title {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 20px;
}
.pricing-subtitle {
  font-size: 18px;
  margin-bottom: 50px;
}
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.pricing-card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 32px;
}
.pricinig-plan-name {
  color: #888888;
  font-size: 13px;
  font-weight: 600;
}
.price {
  font-size: 44px;
  font-weight: bold;
  padding: 5px 0;
}
.person {
  font-size: 13px;
}
.pricing-card hr {
  background-color: #e5e7eb;
  height: 1px;
  margin: 25px 0;
}
.pricing-card-features ul {
  display: grid;
  gap: 12px;
  padding-left: 14px;
}
.pricing-card-features ul li {
  font-size: 14px;
  color: #333333;
}
.pricing-card-features ul li::marker {
  color: #2563eb;
}
.pricing-btn {
  margin-top: 25px;
  background: #ffffff;
  color: #2563eb;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  padding: 13px 0;
  border: 1px solid #2563eb;
  border-radius: 8px;
}
.card-pro {
  background-color: #0d1b2a;
}
.card-pro .pricing-plan-name {
  color: #93c5fd;
}
.card-pro .price {
  color: #ffffff;
}
.card-pro .price-person {
  color: #ffffffcc;
}

.card-pro .pricing-card-features li {
  color: #ffffffcc;
}
.card-pro .pricing-btn {
  background-color: #2563eb;
  color: #ffffff;
}
.card-team .pricing-btn {
  border: 1px solid #0d1b2a;
  color: #0d1b2a;
}
